Body{
margin:0;
}
.Directory-button{
background-color: rgba(0,0,0,0.1);
height: 5%;
position: absolute;
top: 5%;
right: 5%;
z-index: 9; /*overlay*/

}
.Home-button{
  color: white;
  display:inline-flex;
  font-family: 'Dosis', sans-serif;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
}

.Home-button:hover{
  background-color: lightgrey;
  color: black;

}
/*Body*/
body{
  font-family: sans-serif;
}
/*HOMEPAGE*/
.Homepage-Picture{
  width: 100%;
  position: relative;
}
.Homepage-pagragraph{
  color: white;
  position:absolute;
  left:30px;
  bottom:30px;
  width: 400px;
  font-family: 'Dosis', sans-serif;
}
.h1homepage{
  font-size: 1.5em;
}
.Space{
  font-family:sans-serif;
  font-size: 8em;
  margin: 0;
  padding: 0;
}
.Homepage-explore-button{
  position: absolute;
  background-color: darkgrey;
  color: black;
  right:50px;
  bottom:50px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family:fantasy;
}
.Homepage-explore-button:hover{
  background-color: lightgrey;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: Black;
}
/*Body DESTINATION*/
.Destination-Homepage-Picture{
  position: relative;
}
.Moon{
position: absolute;
left: 30%;
bottom: 5%;
color: white;
width: 40%;
font-family: 'Dosis', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
text-align: center;
}
.Moon-Picture{
  position: absolute;
  left: 34%;
  bottom: 25%;
  max-width: 50%;
  height: auto;
}
.Moon-header{
  position: absolute;
  left: 30%;
  bottom: 13%;
  color: white;
  width: 40%;
  font-family: 'Dosis', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
  text-align: center;
}
.Pilot-Picture{
  position: absolute;
  left: 38%;
  bottom: 25%;
  width: 20em;
}
